* {  
  box-sizing: border-box; 
  
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.img_logos img {  
  object-fit: contain;
  max-width: 3%;
  max-height: auto;
  display: inline-block;  
 /* border: 1px solid salmon;  */
  
   
}

.name_tag:hover {
  
  background-color: #ada8a5;
}
.name_tag {
 /* border: 1px solid gray;  */
  width: fit-content;
  
}

body {  
  
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

li:hover{
  color: beige;
  background-color: beige;
  transition: background-color 0.3s;
}

main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
 /* border: 1px solid blue ; */
 
}

.leftblock {  
  width: 20%;
  display: inline-block;
  vertical-align: top;
 /* border-color: aqua; */
}

.rightblock {
    
  width: 75%;
  display: inline-block;
  vertical-align: top;

}

nav {
 /* border: 1px solid red;  */
  background-color: #0f0f0f; /* Background color of the navigation bar */
  color: #fff; /* Text color */
  text-align: left;      
}

header{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;  
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-family: Arial, sans-serif;
  font-size: 17px;
}

nav ul li {
  display: inline; /* Display the list items horizontally */
  margin: 40px; /* Add space between list items */
}

nav a {
  text-decoration: none;
  color: #fff;
}

table {
    border-collapse: collapse; /* Merge borders of adjacent cells */
    width: 100%;
  }
  
  thead, td {
    border: 1px solid #ddd; /* Add a 1px border to table headers and data cells */
    padding: 8px; /* Add padding to headers and data cells for spacing */
    text-align: left; /* Left-align text in cells */
  }
  
  thead {
    background-color: #f2f2f2; /* Add a background color to table headers */
  }
  
  @media only screen and (max-width: 800px) {
    .leftblock, .rightblock {
      display: block;
    }
  }